.navbar {
    display: flex;
    align-items: center;
    padding: 2rem 20vw;
    max-width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--clr-background-header);
    border-bottom: 1px solid var(--clr-grey);
    z-index: 10;
}

.ul-left {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateX(-5rem);

    li:nth-of-type(2) {
        padding-left: 10px;
        transform: translateY(2px);
    }
}

.ul-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-background-header);
    width: 100vw;
    height: 100vh;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem;
    transform: translateX(100%);
    transition: transform 0.35s ease-in;

    li {
        margin: 1.5em 0;
    }

    h4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 10px;
        font-size: 1.5rem;
        color: var(--clr-accent-blue);
    }
}

.open {
    transform: translateX(0);
}

.fa-twitter-square {
    font-size: 3rem;
}

.fa-sign-in-alt {
    font-size: 2rem;
    color: var(--clr-accent-blue);
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        height: 6vh;
        padding: 2rem 10vw;
    }

    .ul-right {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        transform: initial;
        background: transparent;
        width: 0;
        height: initial;
        padding: 0;

        h4 {
            font-size: 1.2rem;
        }
    }

    .icon-instagram {
        width: 2rem;
        transform: translateY(2px);
    }

    .fa-twitter-square {
        font-size: 2rem;
    }

    .fa-sign-in-alt {
        font-size: 1.5rem;
    }
}

@media (min-width: 1600px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
        border: 1px solid var(--clr-grey);

        img {
            width: auto;
            height: 2rem;
        }

        i {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.7rem;
        }
    }
}
