:root {
    --clr-background: #2a2c2f;
    --clr-background-header: #141517;
    --clr-grey: #6b6c6f;
    --clr-light: #a6a8ab;
    --clr-white: #eff2f5;
    --clr-accent-red: #db2c47;
    --clr-accent-blue: #5078bf;
    --clr-accent-green: #3adab7;
    --clr-accent-yellow: #f98e00;

    --font-roboto: "Roboto Condensed";
    --font-sources: "Source Sans Pro";

    --font-sizing: 14px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

// global
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: var(--clr-background);
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--font-sizing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: var(--font-roboto), serif;
    font-size: 1rem;
    color: var(--clr-light);
}

a {
    text-decoration: none;
    color: var(--clr-light);
    transition: color 0.3s linear;

    &:hover {
        color: var(--clr-accent-red);
    }
}

i {
    color: var(--clr-light);
    font-size: 1.5rem;
}

.fa-hashtag {
    color: var(--clr-accent-red);
    transform: rotate(0);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--clr-accent-blue);
        transform: rotate(360deg);
        transition: all 0.3s ease-in-out;
    }
}

.app {
    min-height: calc(100vh - 100px);
}

// main page styling
@media (min-width: 1100px) {
    .section--top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        max-width: 60vw;
        margin: 0 auto;
    }
}
